th, td{
    padding: 10px;
    border: rgb(0, 0, 0);
}
.table-course-main{
    border: 3;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
#nav-btn{
    border:none;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    background-color: rgb(255, 221, 176);
}
#nav-btn:hover{
    animation:fadeInAnimation ease-in 0.25s;
}
#btn-admin{
    border:none;
    width: 200px;
    height: 80px;
    background-color:aquamarine;
    border-radius: 10px;
}
#btn-admin:hover{
    animation:fadeInAnimation ease-in 0.25s;
}
#admin-btn{
    display:flex;
    flex-direction: row;
    align-items: center;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}