body{
    font-family: 'Courier New', Courier, monospace !important;
}
.htmlPage{
    height:700px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
#button{
    display: flex;
    flex-direction: column;
    border: none;
    width: 400px; 
    padding: 30px;  
    border-radius: 15px ;  
    align-items: center;
    background-color: rgb(246, 236, 223);
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#button:hover{
    background-color:hsl(white, black, black);
    animation:fadeInAnimation ease-in 0.5s;
}
#buttonDiv{
    align-items: center;
    width: 33.333333%;
}